* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    background-color: #b2bac2;
}

.container {
    max-width: 512px;
    width: 100%;
    margin: 16px auto 0 auto;
    padding: 16px 32px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 16px #767d85;
}

header {
    padding: 16px 0 32px 0;
    text-transform: uppercase;
    font-style: italic;
}
header h1 {
    text-align: center;
}
form {
    width: 100%;
    display: inline-block;
}
form div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
form textarea {
    width: 75%;
    display: inline-block;
    text-align: center;
    resize: none;
}
form input {
    margin-bottom: 8px;
    width: 100%;
}
form button {
    height: fit-content;
    text-align: center;
    margin: auto 0 auto 8px;
}
form input,
form textarea,
form button {
    font-size: 16px;
    padding: 8px;
    border: none;
    background-color: #e8edf3;
    border-radius: 16px;
    /*box-shadow: 0 0 4px #d8e6f5;*/
}
form div textarea {
    height: 5em;
}

table {
    width: 100%;
    margin-top: 8px;
    padding: 16px;
    background-color: #e8edf3;
    border-radius: 16px;
}
table tr {
    width: 100%;
}
table tr td {
    padding: 4px;
    text-align: center;
}
.nome-tarefa {
    width: 70%;
}
.descricao-controle {
    width: 15%;
}
.delete-tarefa {
    width: 15%;
}
.descricao-controle,
.nome-tarefa,
.delete-tarefa {
    border-top: 1px solid #a8b6c5;
}
.terminada {
    text-decoration: line-through;
}
.descricao {
    display: none;
}