* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ccc;
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 36px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px #aaa;
}

header {
    text-align: center;
}
header h1 {
    font-style: italic;
    text-transform: uppercase;
}

.form-field {
    padding: 8px 0;
}
.form-field div {
    display: flex;
    justify-content: space-between;
}
.form-field > div {
    width: 100%;
}
.form-field label {
    display: block;
    font-size: 16px;
}
.form-field input,
form button {
    width: 100%;
    padding: 4px;
    font-size: 18px;
    border: 1px solid #899;
    border-radius: 8px;
}
.endereco-linha-1 div,
.endereco-linha-2 div {
    display: block;
}
.endereco-linha-2 div {
    margin: 8px 0;
    width: 49%;
}
.endereco-linha-1 input,
.endereco-linha-2 input {
    width: 100%;
}
.rua {
    width: 80%;
}
.complemento {
    width: 18%;
}
form button {
    margin: 24px 0;
    cursor: pointer;
    background-color: #f8ffff;
}
form button:hover {
    background-color: #e8f8f8;
}