.tema-a {
    background-color: #212121;
}
.tema-a #header {
    background-color: #080808;
    color: ghostwhite;
}
.tema-a .mensagem {
    border-color: #1a1d20;
}

.tema-a .accordion-content {
    border-color: #1a1d20;
}

.tema-a .mensagem-is-error {
    background-color: darkred;
    color: palevioletred;
}
.tema-a a {
    color: lightgray;
}