.tema-b {
    background-color: green;
}
.tema-b #header {
    background-color: yellowgreen;
    color: #000;
}
.tema-b .mensagem {
    border-color: #1a1d20;
}

.tema-b .accordion-content {
    border-color: #1a1d20;
}

.tema-b .mensagem-is-error {
    background-color: rebeccapurple;
    color: palevioletred;
}
.tema-b a {
    color: #1a1d20;
}